# Import relevant libraries

In [1]:
#!pip install matplotlib pandas scikit-learn
#!pip install --upgrade pip
#!pip install statsmodels

In [2]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from math import sin, cos, sqrt, atan2, radians
import numpy as np
import pandas as pd
import random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (auc, classification_report, roc_auc_score, accuracy_score,
                             f1_score, log_loss, roc_curve, confusion_matrix, precision_score, recall_score)
import statsmodels.formula.api as smf

np.random.seed(0)

#Load the Data

In [91]:
tournament_Data = pd.read_csv('https://raw.githubusercontent.com/SethiDeepika/AIML/main/NCAA_Tourney_2002_2025.csv')
tournament_Data.head()
#tournament_TestData = pd.read_csv('https://raw.githubusercontent.com/SethiDeepika/AIML/main/NCAA_Tourney_2002_2025.csv').query("season==2019").reset_index(drop=True)
#tournament_TestData.head()

,team1_id,team1_score,team2_id,team2_score,WLoc,num_ot,team1_position,team2_position,team1_seed,team2_seed,...,team1_adjoe,team1_de,team1_adjde,team2_tempo,team2_adjtempo,team2_oe,team2_adjoe,team2_de,team2_adjde,game_id
0,1314,81.0,1181,77.0,N,0.0,W08,X02,8,2,...,113.035,100.974,96.9911,68.2765,67.4185,117.1520,119.3570,98.2346,95.6444,2022-1314-1181
1,1242,81.0,1437,65.0,N,0.0,Y01,Z02,1,2,...,119.388,97.191,93.9009,64.1915,62.5758,112.8450,117.9210,97.6798,93.8099,2022-1242-1437
2,1242,72.0,1314,69.0,N,0.0,Y01,W08,1,8,...,119.388,97.191,93.9009,70.2181,70.1745,109.4160,113.0350,100.9740,96.9911,2022-1242-1314
3,1242,76.0,1274,50.0,N,0.0,Y01,Y10,1,10,...,119.388,97.191,93.9009,67.5221,67.3101,110.3680,114.7570,104.9830,102.1320,2022-1242-1274
4,1314,69.0,1389,49.0,N,0.0,W08,W15,8,15,...,113.035,100.974,96.9911,67.0262,65.9923,98.7557,98.7475,92.3289,94.4745,2022-1314-1389

In [92]:
# The data has team1 as the winner. We need to create balanced training data
# by also including the reverse matchups (team2 vs team1)
print("\nPreparing training data...")

Preparing training data...

In [93]:
df_winner = tournament_Data.copy()
df_winner['target'] = 1  # team1 wins
df_loser = tournament_Data.copy()
df_loser['target'] = 0  # team2 loses

team1_cols = [c for c in tournament_Data.columns if c.startswith('team1_')]
team2_cols = [c for c in tournament_Data.columns if c.startswith('team2_')]


# Put Team 2 data into Team 1's columns
df_loser[team1_cols] = tournament_Data[team2_cols].values

# Put Team 1 data into Team 2's columns
df_loser[team2_cols] = tournament_Data[team1_cols].values

# Feature engineering
stat_cols_team1 = [
    'team1_fg2pct', 'team1_fg3pct', 'team1_ftpct', 'team1_blockpct',
    'team1_oppfg2pct', 'team1_oppfg3pct', 'team1_arate', 'team1_opparate',
    'team1_stlrate', 'team1_oppstlrate', 'team1_adjoe', 'team1_adjde'
]

stat_cols_team2 = [
    'team2_fg2pct', 'team2_fg3pct', 'team2_ftpct', 'team2_blockpct',
    'team2_oppfg2pct', 'team2_oppfg3pct', 'team2_arate', 'team2_opparate',
    'team2_stlrate', 'team2_oppstlrate', 'team2_adjoe', 'team2_adjde'
]

df_combined = pd.concat([df_winner, df_loser], axis=0).reset_index(drop=True)
df_combined = df_combined.sort_values(by=['game_id']).reset_index(drop=True)
feature_names = []

for t1, t2 in zip(stat_cols_team1, stat_cols_team2):
    base_name = t1.replace('team1_', '')
    df_combined[f'diff_{base_name}'] = df_combined[t1] - df_combined[t2]
    feature_names.append(f'diff_{base_name}')

# Seed difference
df_combined['seed_diff'] = df_combined['team2_seed'] - df_combined['team1_seed']
feature_names.append('seed_diff')

# Net efficiency difference
df_combined['team1_net_eff'] = df_combined['team1_adjoe'] - df_combined['team1_adjde']
df_combined['team2_net_eff'] = df_combined['team2_adjoe'] - df_combined['team2_adjde']
df_combined['diff_net_eff'] = df_combined['team1_net_eff'] - df_combined['team2_net_eff']
feature_names.append('diff_net_eff')



df_combined.columns

Index(['team1_id', 'team1_score', 'team2_id', 'team2_score', 'WLoc', 'num_ot',
       'team1_position', 'team2_position', 'team1_seed', 'team2_seed',
       'strongseed', 'weakseed', 'team1_region', 'team2_region', 'slot',
       'team1_teamname', 'team2_teamname', 'season', 'host', 'host_lat',
       'host_long', 'team1_lat', 'team1_long', 'team2_lat', 'team2_long',
       'team1_fg2pct', 'team1_fg3pct', 'team1_ftpct', 'team1_blockpct',
       'team1_oppfg2pct', 'team1_oppfg3pct', 'team1_oppftpct',
       'team1_oppblockpct', 'team1_f3grate', 'team1_oppf3grate', 'team1_arate',
       'team1_opparate', 'team1_stlrate', 'team1_oppstlrate', 'team2_fg2pct',
       'team2_fg3pct', 'team2_ftpct', 'team2_blockpct', 'team2_oppfg2pct',
       'team2_oppfg3pct', 'team2_oppftpct', 'team2_oppblockpct',
       'team2_f3grate', 'team2_oppf3grate', 'team2_arate', 'team2_opparate',
       'team2_stlrate', 'team2_oppstlrate', 'team1_tempo', 'team1_adjtempo',
       'team1_oe', 'team1_adjoe', 'team1_de', 'team1_adjde', 'team2_tempo',
       'team2_adjtempo', 'team2_oe', 'team2_adjoe', 'team2_de', 'team2_adjde',
       'game_id', 'target', 'diff_fg2pct', 'diff_fg3pct', 'diff_ftpct',
       'diff_blockpct', 'diff_oppfg2pct', 'diff_oppfg3pct', 'diff_arate',
       'diff_opparate', 'diff_stlrate', 'diff_oppstlrate', 'diff_adjoe',
       'diff_adjde', 'seed_diff', 'team1_net_eff', 'team2_net_eff',
       'diff_net_eff'],
      dtype='str')

In [6]:
#Feature Engineering Using Claude

# ===== 1. TEMPO FEATURES =====
df_combined['diff_tempo'] = df_combined['team1_tempo'] - df_combined['team2_tempo']
df_combined['diff_adjtempo'] = df_combined['team1_adjtempo'] - df_combined['team2_adjtempo']
feature_names.extend(['diff_tempo', 'diff_adjtempo'])

# ===== 2. UPSET INDICATORS =====
df_combined['upset_potential'] = ((df_combined['seed_diff'] < 0) & (df_combined['diff_net_eff'] > 0)).astype(int)
df_combined['seed_diff_sq'] = df_combined['seed_diff'] ** 2
feature_names.extend(['upset_potential', 'seed_diff_sq'])

# ===== 3. SHOOTING EFFICIENCY =====
df_combined['team1_overall_fg'] = df_combined['team1_fg2pct'] * 0.6 + df_combined['team1_fg3pct'] * 0.4
df_combined['team2_overall_fg'] = df_combined['team2_fg2pct'] * 0.6 + df_combined['team2_fg3pct'] * 0.4
df_combined['diff_overall_fg'] = df_combined['team1_overall_fg'] - df_combined['team2_overall_fg']
feature_names.append('diff_overall_fg')

# ===== 4. DEFENSIVE PRESSURE =====
df_combined['team1_def_pressure'] = df_combined['team1_stlrate'] + df_combined['team1_blockpct']
df_combined['team2_def_pressure'] = df_combined['team2_stlrate'] + df_combined['team2_blockpct']
df_combined['diff_def_pressure'] = df_combined['team1_def_pressure'] - df_combined['team2_def_pressure']
feature_names.append('diff_def_pressure')

# ===== 5. TURNOVER MARGIN =====
df_combined['team1_to_margin'] = df_combined['team1_stlrate'] - df_combined['team1_oppstlrate']
df_combined['team2_to_margin'] = df_combined['team2_stlrate'] - df_combined['team2_oppstlrate']
df_combined['diff_to_margin'] = df_combined['team1_to_margin'] - df_combined['team2_to_margin']
feature_names.append('diff_to_margin')

# ===== 6. LUCK (EFF VS SEED) =====
seed_to_eff = {1:28, 2:24, 3:21, 4:18, 5:16, 6:14, 7:12, 8:10, 9:8, 10:6, 11:5, 12:4, 13:2, 14:0, 15:-2, 16:-5}
df_combined['team1_eff_vs_seed'] = df_combined['team1_net_eff'] - df_combined['team1_seed'].map(seed_to_eff)
df_combined['team2_eff_vs_seed'] = df_combined['team2_net_eff'] - df_combined['team2_seed'].map(seed_to_eff)
df_combined['diff_eff_vs_seed'] = df_combined['team1_eff_vs_seed'] - df_combined['team2_eff_vs_seed']
feature_names.append('diff_eff_vs_seed')

# ===== 7. MATCHUP ADVANTAGE =====
df_combined['matchup_advantage'] = (df_combined['team1_adjoe'] - df_combined['team2_adjde']) - (df_combined['team2_adjoe'] - df_combined['team1_adjde'])
feature_names.append('matchup_advantage')

# ===== 8. TEMPO MISMATCH =====
df_combined['tempo_mismatch'] = abs(df_combined['team1_tempo'] - df_combined['team2_tempo'])
feature_names.append('tempo_mismatch')

df_combined

,team1_id,team1_score,team2_id,team2_score,WLoc,num_ot,team1_position,team2_position,team1_seed,team2_seed,...,team2_def_pressure,diff_def_pressure,team1_to_margin,team2_to_margin,diff_to_margin,team1_eff_vs_seed,team2_eff_vs_seed,diff_eff_vs_seed,matchup_advantage,tempo_mismatch
0,1194,78.0,1104,86.0,N,0.0,Y15,Y02,15,2,...,8.1521,0.1632,0.0206,0.0172,0.0034,-1.0594,-6.3816,5.3222,-8.5792,1.3721
1,1104,86.0,1194,78.0,N,0.0,Y02,Y15,2,15,...,8.3153,-0.1632,0.0172,0.0206,-0.0034,-6.3816,-1.0594,-5.3222,8.5792,1.3721
2,1112,86.0,1364,81.0,N,0.0,Z03,Z14,3,14,...,8.8053,-1.4706,-0.0004,0.009,-0.0094,-0.5385,7.783,-8.3215,11.1901,10.9117
3,1364,81.0,1112,86.0,N,0.0,Z14,Z03,14,3,...,7.3347,1.4706,0.009,-0.0004,0.0094,7.783,-0.5385,8.3215,-11.1901,10.9117
4,1112,68.0,1461,60.0,N,0.0,Z03,Z11,3,11,...,10.5315,-3.1968,-0.0004,-0.0108,0.0104,-0.5385,4.3769,-4.9154,11.6168,4.529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,1417,72.0,1429,47.0,N,0.0,X07,X10,7,10,...,9.516012,1.108869,0.03662,0.025999,0.010622,9.7623,9.225,0.5373,-14.3073,0.7496
3024,1285,66.0,1458,85.0,N,0.0,W14,W03,14,3,...,6.180186,1.98756,0.007142,0.006637,0.000505,0.384,4.9749,-4.5909,3.1149,1.1587
3025,1458,85.0,1285,66.0,N,0.0,W03,W14,3,14,...,8.167746,-1.98756,0.006637,0.007142,-0.000505,4.9749,0.384,4.5909,-3.1149,1.1587
3026,1400,80.0,1462,86.0,N,0.0,X11a,X11b,11,11,...,7.264909,4.562444,0.007624,0.025461,-0.017837,12.1514,12.197,-0.0456,2.4736,1.0204
3027,1462,86.0,1400,80.0,N,0.0,X11b,X11a,11,11,...,11.827353,-4.562444,0.025461,0.007624,0.017837,12.197,12.1514,0.0456,-2.4736,1.0204

In [94]:


df_training = pd.concat([df_winner, df_loser], axis=0).reset_index(drop=True)
df_training = df_training.sort_values(by=['game_id']).reset_index(drop=True)

#df_training=df_combined[feature_names]
df_training.head()

,team1_id,team1_score,team2_id,team2_score,WLoc,num_ot,team1_position,team2_position,team1_seed,team2_seed,...,team1_de,team1_adjde,team2_tempo,team2_adjtempo,team2_oe,team2_adjoe,team2_de,team2_adjde,game_id,target
0,1194,78.0,1104,86.0,N,0.0,Y15,Y02,15,2,...,98.4183,99.9263,69.8636,69.9001,108.4361,111.4954,95.2313,93.877,2002-1104-1194,0
1,1104,86.0,1194,78.0,N,0.0,Y02,Y15,2,15,...,95.2313,93.877,71.2357,71.2446,100.2897,96.8669,98.4183,99.9263,2002-1104-1194,1
2,1112,86.0,1364,81.0,N,0.0,Z03,Z14,3,14,...,104.0411,96.9262,63.2345,64.7948,105.2163,105.4534,96.0965,97.6704,2002-1112-1364,1
3,1364,81.0,1112,86.0,N,0.0,Z14,Z03,14,3,...,96.0965,97.6704,74.1462,72.8207,111.0077,117.3877,104.0411,96.9262,2002-1112-1364,0
4,1112,68.0,1461,60.0,N,0.0,Z03,Z11,3,11,...,104.0411,96.9262,69.6172,70.4124,105.3654,106.037,97.0568,96.6601,2002-1112-1461,1

In [95]:
df_training.shape

(3028, 67)

In [96]:
#!pip install tensorflow

In [97]:
# Keras imports
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping

# Sklearn for preprocessing and evaluation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [98]:
df_combined
#df_combined[df_combined['season'] != '2019']
df_combined[df_combined['season'] != 2019]

,team1_id,team1_score,team2_id,team2_score,WLoc,num_ot,team1_position,team2_position,team1_seed,team2_seed,...,diff_arate,diff_opparate,diff_stlrate,diff_oppstlrate,diff_adjoe,diff_adjde,seed_diff,team1_net_eff,team2_net_eff,diff_net_eff
0,1194,78.0,1104,86.0,N,0.0,Y15,Y02,15,2,...,6.0473,9.3519,0.0229,0.0195,-14.6285,6.0493,-13,-3.0594,17.6184,-20.6778
1,1104,86.0,1194,78.0,N,0.0,Y02,Y15,2,15,...,-6.0473,-9.3519,-0.0229,-0.0195,14.6285,-6.0493,13,17.6184,-3.0594,20.6778
2,1112,86.0,1364,81.0,N,0.0,Z03,Z14,3,14,...,-9.3072,-3.6991,-0.0033,0.0061,11.9343,-0.7442,11,20.4615,7.783,12.6785
3,1364,81.0,1112,86.0,N,0.0,Z14,Z03,14,3,...,9.3072,3.6991,0.0033,-0.0061,-11.9343,0.7442,-11,7.783,20.4615,-12.6785
4,1112,68.0,1461,60.0,N,0.0,Z03,Z11,3,11,...,4.585,0.9468,-0.0125,-0.0229,11.3507,0.2661,8,20.4615,9.3769,11.0846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3023,1417,72.0,1429,47.0,N,0.0,X07,X10,7,10,...,-0.60981,-0.522621,-0.003288,-0.01391,-3.885,-10.4223,3,21.7623,15.225,6.5373
3024,1285,66.0,1458,85.0,N,0.0,W14,W03,14,3,...,-5.538595,-3.733456,0.014429,0.013924,-11.238,14.3529,-11,0.384,25.9749,-25.5909
3025,1458,85.0,1285,66.0,N,0.0,W03,W14,3,14,...,5.538595,3.733456,-0.014429,-0.013924,11.238,-14.3529,11,25.9749,0.384,25.5909
3026,1400,80.0,1462,86.0,N,0.0,X11a,X11b,11,11,...,-16.444696,-7.771025,-0.019248,-0.00141,1.214,1.2596,0,17.1514,17.197,-0.0456
3027,1462,86.0,1400,80.0,N,0.0,X11b,X11a,11,11,...,16.444696,7.771025,0.019248,0.00141,-1.214,-1.2596,0,17.197,17.1514,0.0456

In [99]:
df_combined_Train = df_combined[df_combined['season'] != 2019]

# Features (X) and Target (y)
X = df_combined_Train[feature_names].values
y = df_combined_Train['target'].values

print(f"X shape: {X.shape}")
print(f"y shape: {y.shape}")

X shape: (2894, 14)
y shape: (2894,)

In [100]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X)


X_train_scaled.shape

(2894, 14)

In [141]:
model = Sequential()

# Input layer + First hidden layer
# input_dim = number of features
model.add(Dense(128, activation='relu', input_dim=X_train_scaled.shape[1]))
#model.add(Dropout(0.3))  # Dropout to prevent overfitting

# Second hidden layer
model.add(Dense(64, activation='relu'))
#model.add(Dropout(0.3))

# Third hidden layer
model.add(Dense(64, activation='relu'))

model.add(Dense(64, activation='relu'))

# Output layer (1 neuron with sigmoid for binary classification)
model.add(Dense(1, activation='sigmoid'))

print("✅ Model built!")
model.summary()

✅ Model built!

/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_12"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_51 (Dense)                │ (None, 128)            │         1,920 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_52 (Dense)                │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_53 (Dense)                │ (None, 64)             │         4,160 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_54 (Dense)                │ (None, 64)             │         4,160 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_55 (Dense)                │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 18,561 (72.50 KB)

 Trainable params: 18,561 (72.50 KB)

 Non-trainable params: 0 (0.00 B)

In [142]:
model.compile(
    optimizer="rmsprop",
    #Adam(learning_rate=0.001),  # Adam optimizer with default learning rate
    loss='binary_crossentropy',            # Loss function for binary classification
    metrics=['accuracy']                   # Track accuracy during training
)

print("✅ Model compiled!")

✅ Model compiled!

In [143]:
early_stop = EarlyStopping(
    monitor='val_loss',      # Watch validation loss
    patience=10,             # Wait 10 epochs before stopping
    restore_best_weights=True  # Keep the best model
)

print("✅ Early stopping configured")

✅ Early stopping configured

In [157]:
print("🏋️ Training the model...\n")

history = model.fit(
    X_train_scaled, 
    y,
    epochs=100,              # Maximum epochs (early stopping will likely stop before)
    batch_size=32,           # Process 32 samples at a time
    validation_split=0.2,    # Use 20% of training data for validation
    callbacks=[early_stop],  # Use early stopping
    verbose=1                # Show progress
)

print(f"\n✅ Training complete! Stopped at epoch {len(history.history['loss'])}")

🏋️ Training the model...

Epoch 1/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7261 - loss: 0.5350 - val_accuracy: 0.6753 - val_loss: nan
Epoch 2/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7244 - loss: 0.5259 - val_accuracy: 0.6805 - val_loss: nan
Epoch 3/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7313 - loss: 0.5175 - val_accuracy: 0.6598 - val_loss: nan
Epoch 4/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7460 - loss: 0.5066 - val_accuracy: 0.6667 - val_loss: nan
Epoch 5/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7538 - loss: 0.4960 - val_accuracy: 0.6753 - val_loss: nan
Epoch 6/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7633 - loss: 0.4844 - val_accuracy: 0.6667 - val_loss: nan
Epoch 7/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7819 - loss: 0.4699 - val_accuracy: 0.6632 - val_loss: nan
Epoch 8/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7840 - loss: 0.4535 - val_accuracy: 0.6667 - val_loss: nan
Epoch 9/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7974 - loss: 0.4424 - val_accuracy: 0.6477 - val_loss: nan
Epoch 10/100
73/73 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7978 - loss: 0.4276 - val_accuracy: 0.6528 - val_loss: nan

✅ Training complete! Stopped at epoch 10

In [158]:

df_combined_Test = df_combined[df_combined['season'] == 2019]


# Features (X) and Target (y)
X_test = df_combined_Test[feature_names].values
X_test_scaled = scaler.transform(X_test)
y_test = df_combined_Test['target'].values


test_loss, test_accuracy = model.evaluate(X_test_scaled, y_test, verbose=0)

print("="*50)
print("📊 TEST SET RESULTS")
print("="*50)
print(f"Test Accuracy: {test_accuracy:.2%}")
print(f"Test Loss: {test_loss:.4f}")

==================================================
📊 TEST SET RESULTS
==================================================
Test Accuracy: 73.88%
Test Loss: 0.4633

In [159]:
y_pred_proba = model.predict(X_test_scaled)  # Probabilities
y_pred = (y_pred_proba > 0.6).astype(int).flatten()  # Convert to 0/1

# Classification report
print("\n📋 Classification Report:")
print(classification_report(y_test, y_pred, target_names=['Team2 Wins', 'Team1 Wins']))

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

📋 Classification Report:
              precision    recall  f1-score   support

  Team2 Wins       0.71      0.90      0.79        67
  Team1 Wins       0.86      0.63      0.72        67

    accuracy                           0.76       134
   macro avg       0.78      0.76      0.76       134
weighted avg       0.78      0.76      0.76       134

In [160]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0])

In [161]:
#y_pred_proba
from sklearn.metrics import log_loss

# Calculate log loss
logloss = log_loss(y_test, y_pred_proba)

print(f"Log Loss: {logloss:.4f}")

Log Loss: 0.4633

#Better Logloss if claude features are not included